body {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: calc(16 * 16px);
    width: calc(16 * 16px);
    border: 1px solid black;
    flex-shrink: 0;
}

.pixel {
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
}

.reset-button {
    padding: 30px;
}